.navbar-img {
  height: 50px;
  margin: 2%;
}

@media only screen and (max-width: 768px) {
  .navbar-img {
    display: block;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-form .input-group>.form-control {
    width: 400px;
  }
}
